html {
  height: 100%;
}
body {
  font-family: 'Arial', sans-serif;
  margin: 3%;
  padding: 0;
  background-color: #fafafa;
  color: #333;
  line-height: 1.6;
  height: 100%
}

header {
  display: flex;
}
.header-logo {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}
header > h1 {
  color: #2c3e50;
  margin-left: 3%;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 20px;
  padding: 20px;
  background-color: #ecf0f1;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#cook-time,
#people-number {
  font-size: 1.2em;
  font-weight: bold;
}

.slider-container input[type="range"] {
  margin: 10px 0px;
  width: 100%;
}

#more-request {
  margin: 20px 20px;
  padding: 10px;
  background-color: #ecf0f1;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
#more-request-title {
  font-size: 1.2em;
  font-weight: bold;
}

#more-request input {
  width: 75%;
  padding: 10px;
  margin-left: 4%;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
}


#select-dish {
  margin: 20px 20px;
  padding: 10px;
  background-color: #ecf0f1;
  border-radius: 5px;
}

#select-dish label {
  margin-bottom: 10px;
  cursor: pointer;
}

#select-dish input[type="checkbox"] {
  margin-right: 10px;
}

#dropdown {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
}

#selectButton {
  margin: 20px 20px;
  padding: 10px;
  background-color: #ecf0f1;
  border-radius: 5px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

#selectButton > button {
  margin: 5px;
  padding: 10px 15px;
  background-color: skyblue;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

#selectButton > button:hover {
  background-color: deepskyblue;
}

#selectButton2 {
  margin: 20px 20px;
  padding: 10px;
  background-color: #ecf0f1;
  border-radius: 5px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.select-btn {
  margin: 5px;
  padding: 10px 15px;
  background-color: #2ecc71;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.select-btn:hover {
  background-color: #27ae60;
}

#selectedIngredients {
  list-style-type: none;
  padding-left: 0;
  margin: 10px 20px;
  margin: 20px 20px;
  padding: 10px;
  background-color: #ecf0f1;
  border-radius: 5px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

#selectedIngredients li {
  margin: 5px 0;
  padding: 10px;
  background-color: #ecf0f1;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  padding: 5px 10px;
  background-color: #e74c3c;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #c0392b;
}

#submit-button {
  display: block;
  width: calc(100% - 40px);
  margin: 20px auto;
  padding: 10px;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  position: fixed;
  bottom: 0;
}


#submit-button:hover {
  background-color: #2980b9;
}

#response-display {
  margin: 20px auto; /* Centered horizontally */
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  position: relative; /* Positioned relative to its place in the DOM */
  bottom: 0; /* Ensure it's placed at the bottom of its parent container */
}


.menu-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.menu-item {
  display: none;
  padding: 20px;
  width: 30%;
  background-color: #ecf0f1;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

menu-item:hover {
  transform: scale(1.05);
}
#menu-list > label{
  font-size: 16px;
}
#menu-list > label.input:checked{
  font-size: 16px;
  font-weight: bold;
}

.chat-message {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px 0;
  background-color: #ecf0f1;
  border-radius: 5px;
}

.chat-message__author {
  font-weight: bold;
}

.chat-message__content {
  margin-left: 10px;
  flex-grow: 1;
}

.chat-message__delete-button {
  padding: 5px 10px;
  background-color: #e74c3c;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.chat-message__delete-button:hover {
  background-color: #c0392b;
}

#cook-time-display, #people-number-display {
  font-size: 1.2em;
  font-weight: lighter;
  margin-top: 10px;
  color: gray;
}

#time-people {
  display: flex;
  justify-content: center; /* Center the entire section horizontally */
  gap: 40px; /* Add space between the cook time and people number sections */
  margin: 20px 0; /* Add space above and below the section */
}
.menu-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.menu-item {
  border: 2px solid #333;
  padding: 15px;
  width: 30%;
  box-sizing: border-box;
  border-radius: 5px;
}
#response-display {
  border: 2px solid #333; /* 枠線のスタイル */
  padding: 15px; /* 内側の余白 */
  border-radius: 5px; /* 角を丸くする */
  background-color: #f5f5f5; /* 背景色 */
  margin-top: 20px; /* 上部のマージン */
  max-width: 800px; /* 最大幅 */
  word-wrap: break-word; /* 長い単語を折り返す */
  white-space: pre-wrap; /* 改行を保持する */
  display: none;
}
#response-display ul {
  list-style-type: disc; /* リストのスタイル */
  padding-left: 20px; /* リストの左パディング */
}
#response-display li {
  margin-bottom: 10px; /* リストアイテムの下マージン */
}

